/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* content */

.course-progressbar {
  background: #aaaaaa;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 0px;
  display: flex;
  height: 15px;
  width: 100%;
}

.course-progressbar-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #707070;
  height: 15px;
  width: 0;
}

.progressbar {
  background: #aaaaaa;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 0px;
  display: flex;
  height: 5px;
  width: 190px;
}

.progressbar-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #707070;
  height: 5px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 68%;
  }
}

.card {
  border: none;
  border-radius: 23px;
}

.course1 {
  /* fallback for old browsers */
  background: #ff9a9e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom left,
    rgba(233, 28, 28, 0.712),
    rgba(255, 152, 152, 0.541)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom left,
    rgba(233, 28, 28, 0.712),
    rgba(255, 152, 152, 0.541)
  );
}

.course2 {
  /* fallback for old browsers */
  background: #ff9a9e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom left,
    rgba(255, 179, 32, 0.712),
    rgba(255, 228, 174, 0.541)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom left,
    rgba(255, 179, 32, 0.712),
    rgba(255, 228, 174, 0.541)
  );
}

.course3 {
  /* fallback for old browsers */
  background: #ff9a9e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom left,
    rgba(255, 179, 32, 0.712),
    rgba(255, 228, 174, 0.541)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom left,
    rgba(187, 244, 255, 1),
    rgba(165, 159, 249, 0.941)
  );
}

.course4 {
  /* fallback for old browsers */
  background: #ff9a9e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom left,
    rgba(255, 179, 32, 0.712),
    rgba(255, 228, 174, 0.541)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom left,
    rgba(0, 211, 255, 0.712),
    rgba(172, 255, 249, 0.541)
  );
}

.list-unstyled h3 {
  font-size: 1.5vw;
}

.nav-icon {
  width: 50px;
}

.tutorial-icon {
  width: 80px;
}

.search {
  background-color: #f6f6f6;
  border: none;
  border-radius: 25px;
  float: right;
  width: 50%;
  height: 50px;
  font-family: FontAwesome, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  color: #aaaaaa !important;
}

.start {
  background-color: #87c0e6;
  color: white;
  width: 40%;
}

.card {
  transition: transform 0.7s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card-body a :hover {
  background-color: #6fa2c4;
}

.card-body button :hover {
  background-color: #00000000;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

.profile {
  margin-top: 80px;
}

#sidebar.active .profile {
  margin-top: 0px;
}

.profile h4 {
  color: #4a4a4a;
}

#sidebar.active .profile h4,
#sidebar.active .profile p,
#sidebar.active .list-unstyled h3 {
  display: none;
}

#sidebar {
  min-width: 300px;
  max-width: 350px;
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
  background-color: #ebf6ff;
}
.sidebar-header {
  background-color: #d5ecff !important;
  height: 250px;
}

#sidebar.active .sidebar-header {
  background-color: #d5ecff !important;
  height: 100px;
}
#sidebar.active {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

.list-unstyled a {
  color: #4a4a4a;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1309px) {
  #content {
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    min-height: 100vh;
    transition: all 0.3s;
  }

  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar .sidebar-header h3,
  #sidebar .CTAs,
  #sidebar .sidebar-header .profile p,
  h4 {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }

  .list-unstyled span {
    display: none;
  }

  #sidebar.active .list-unstyled span {
    display: block;
  }

  .start {
    background-color: #87c0e6;
    color: white;
    width: 60%;
  }
}
